EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=

FIREBASE_PROJECT_ID=
FIREBASE_PROJECT_NUMBER=
FIREBASE_STORAGE_BUCKET=
FIREBASE_ANDROID_APP_ID=
FIREBASE_ANDROID_API_KEY=
FIREBASE_IOS_APP_ID=
FIREBASE_IOS_API_KEY=
